{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<img src='{%static "img/logo.png" %}' style="width:100%; height:100px; background-color:white;">
<div class='border_g'> 
<h2>О компании</h2>
<p> 
    Чтобы давать людям больше, 
    недостаточно открывать больше магазинов, 
    расширять каталог товаров и увеличивать сумму чека. 
    Мы продаем технику, но работаем с людьми! 
    Мы хотим помочь людям решить больше проблем. 
    Поэтому предлагаем больше решений. Открываем больше возможностей. 
    Чтобы стать для них больше, чем просто магазином
</p>
</div>


{% endblock %}