{% load static %}
<nav id='nav' class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="{% static "img/logo.png" %}" class="logo" ></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#">Главная<span class="sr-only">(current)</span></a></li>
        <li ><a href="company.html">О нас<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Контакты</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li {% if not category %} class="selected" {% endif %}>
                <a href='{% url "shop:ProductList" %}'>Все</a>
              </li>
            {% for cat in categories %}
              <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
              <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url "cart:CartDetail" %}">
      <button class="btn btn-default" type="submit" style= 'margin:-10px;'> 
        Корзина:
        {% with total_items=cart|length %}
        
        {% if cart|length > 0 %}
            {% comment %} <img src='{%static "img/cart.png" %}' class='cart_icon'>: {% endcomment %}
                {{ total_items }}
         {% else %}
              0
        {% endif %}
        {% endwith %}
        </button></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>